<a href="https://colab.research.google.com/github/ddah0329/Self-Study/blob/main/BAEKJOON/Python/2588.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#나머지

### - 문제
(세 자리 수) × (세 자리 수)는 다음과 같은 과정을 통하여 이루어진다.

![곱셈.png]()

(1)과 (2)위치에 들어갈 세 자리 자연수가 주어질 때 (3), (4), (5), (6)위치에 들어갈 값을 구하는 프로그램을 작성하시오.

### - 입력
첫째 줄에 (1)의 위치에 들어갈 세 자리 자연수가, 둘째 줄에 (2)의 위치에 들어갈 세자리 자연수가 주어진다.

### - 출력
첫째 줄부터 넷째 줄까지 차례대로 (3), (4), (5), (6)에 들어갈 값을 출력한다.

### - 예제

| 예제 입력 | 예제 출력 |
|---|---|
| 472<br>385| 2360<br>3776<br>1416<br>181720|

<br>

> [백준 2588번](https://www.acmicpc.net/problem/2588)

#방법 1 : 산술 연산자 이용

In [ ]:
a, b = map(int, input().split())

num3 = a * (b % 10)
num4 = a * ((b%100)//10)
num5 = a * (b//100)
print(num3)
print(num4)
print(num5)

print(a*b)

472 385
2360
3776
1416
181720

# ⬆️ 해당 코드는 계속 런타임 에러가 떴다

분명히 잘 되는데 왜 문제인지 고민했지만, 결국 답이 안나와서 질문을 올렸다.

나에게 온 답변은 "입력이 두 줄에 걸쳐 제공되기 때문입니다." 이러했다.

입력? 두 줄? 이게 뭔 말이지? 라는 생각으로 예제를 보니 input()을 한꺼번에 하는 것이 아니라 두 번 나눠서 해야했기 떄문이다.

# ⬇️ 최종 답안

In [30]:
a = int(input())
b = int(input())

print(a * (b % 10))
print(a * ((b%100)//10))
print(a * (b//100))
print(a*b)

472
385
2360
3776
1416
181720

# 방법 2 : 문자열 슬라이싱 이용

In [ ]:
# d를 문자열로 받아서 슬라이싱으로 값 계산하기
# input을 따로 했기 때문에 각각 입력 받아야함!!
c = int(input()) #type(int)
d = input() #type(str)

# 형변환 (str -> int) 후 계산
n3 = c * int(d[2]) # d[2] = 5
n4 = c * int(d[1]) # d[1] = 8
n5 = c * int(d[0]) # d[0] = 3
n6 = c * int(d)

print(n3, n4, n5, n6, sep="\n")

472
385
2360
3776
1416
181720

In [ ]:
# 세자리 수 조건 추가

c = int(input())
d = input()

if len(d) == 3:
    n3 = c * int(d[2])
    n4 = c * int(d[1])
    n5 = c * int(d[0])
    n6 = c * int(d)

    print(n3, n4, n5, n6, sep="\n")
else:
    print("세자리 숫자만 가능합니다")

472
385
2360
3776
1416
181720